.promo {
  margin: 0 auto;
  max-width: 1280px;
  height: 524px;
  background-color: #073042;
  padding: 0 70px;
  position: relative;
  border-right: solid 1px black;
  border-left: solid 1px black;
}

.promo__picture {
  left: 50%; top: 50%; 
  transform: translate(-50%, -50%);
  position: absolute;
}

.promo__text {
  margin: 0;
  width: 730px;
  position: absolute;
  left: 50%; top: 50%; 
  transform: translate(-50%, -50%);
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: white;
}

@media screen and (max-width: 740px) {
  .promo__text {
    max-width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .promo__text {
    max-width: 400px;
  }
}

@media screen and (max-width: 1280px) {
  .promo {
    border: none;
  }
}

@media screen and (max-width: 850px) {
  .promo {
    padding: 0 19px;
    height: 784px;
  }
}

@media all and (max-width: 500px) {
  .promo__text {
    font-size: 27px;
    line-height: 30px;
  }
}

@media all and (max-width: 500px) {
  .promo {
    height: 570px;
  }
}

@media all and (max-width: 420px) {
  .promo__text {
    max-width: 300px;
    font-size: 31px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.04em;
  }
}

@media all and (max-width: 420px) {
  .promo__picture {
    max-width: 248px;
  }
}
